@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  color: #5A67D8;
}

a {
  color: #48BB78;
  text-decoration: none;
}

a:hover {
  color: #F6AD55;
}
