.container {
  background-color: #7b68ee; /* SlateBlue */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
